.rvmrc
.bundle 
vendor/bundle 
*swo
*swp
.DS_Store
config/database.yml
config/email.yml
config/session_key.yml
coverage
coverage.data
coverage/*
db/*sql
doc/api
doc/app
doc/wom/*
features_rcov/*
log/*
nbproject
nohup.out
test/coverage/*
test/reports/*
tmp/*
tmp/**/*
data/*
sandbox/*
tags
*kpf
public/system
public/uploads
*vim
.bundle/*
*~
*#
.*~
.*#
*.old
*.bak
*.gw
