<div style="margin: 1em;">
  <p>Hello <%= @resource.email %>!</p>
  <p>You recently requested to reset your password. Tap below to reset and create a new password.</p>
  <p><a style="display: block; border-radius: 10px; background-color: #d0342e; color: white; padding: 1em; margin: 1em; text-align: center; text-decoration: none;"
        href="<%= store_go_url email: @resource.email, reset_password_token: @resource.reset_password_token %>"
      >Reset Password</a></p>
  <p>Please disregard this message or contact customer support if you did not request to reset your password.</p>
  <p>Sincerely,<br /><br />The Goji Team</p>
</div>
