<div style="margin: 1em;">
  <p><%= @instructions %></p><br>
  <p>Please click the button below to confirm the new device:</p>
</div>

<a style="display: block; border-radius: 10px; background-color: #d0342e; color: white; padding: 1em; margin: 1em; text-align: center; text-decoration: none;"
href="<%= @url %>"
>Confirm</a>