<h4>Logs from Papertrails</h4>
<% if @msg %>
    <table class = "table"> 
        <thead>
            <tr>
                <th>Severity</th>
                <th>Time</th>
                <th>Message</ht>
            </tr>
        </thead>
        <tbody>
            <% @msg.each do |m| %>
            <tr>
                <td><%= m["severity"] %></td>
                <td><%= m["display_received_at"] %></td>
                <td style = "white-space: normal!important;"><%= m["message"] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<h5><%= @err if @err %></h5>