<html>
<head>
  <title>Goji Redirect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body style="font-family: sans-serif; margin: 1em;">

  <div style="text-align: center" ><%= image_tag("logo.png", size: "130x71", alt:"Goji") %></div>

  <p><%= @msg %></p>

  <p style="font-size: smaller" ><%= @extended_msg %></p>


</body>
</html>
