<html>
<body style="font-family: sans-serif; margin: 1em;">
<div style="float:left; font-weight:bold; font-size:16pt; margin: 1em;">
  <%= image_tag("/static_images/logo.png", size: "130x71", alt:"Goji") %>
  <br/>
  Smart Lock
</div>
<div style="float:right; margin-top:8px">
  <%= image_tag("/static_images/front_view_125.png", size: "125x125", alt:"Goji Lock") %>
</div>
<div style="clear:both" />
  <%= yield %>
</body>
</html>
